<div class="container">

	<div class="row">

		<div class="col-sm-4">

			<img src="{{image}}" class="img-fluid img-thumbnail">

		</div>

		<div class="col-sm-8">

			<ul class="list-group">

				<li class="list-group-item">Name: <b>{{playerInfo.name}}</b></li>

				<li class="list-group-item">Nationality: <b>
				{{playerInfo.nationality}}</b></li>

				<li class="list-group-item">Age: <b>
				{{currentYear-playerInfo.dateOfBirth.split('-')[0]}}</b></li>

				<li class="list-group-item">Position: <b>{{playerInfo.position}}</b></li>

				<li class="list-group-item">Number: <b>{{playerInfo.shirtNumber}}</b></li>

				<li class="list-group-item">Date of Birth: <b>{{playerInfo.dateOfBirth}}</b></li>

				<li class="list-group-item">Country of Birth: <b>{{playerInfo.countryOfBirth}}</b></li>
				
			</ul>
		</div>
	</div>
</div>