
<footer class="page-footer font-small teal pt-4">

  <div class="container-fluid text-center text-md-left">

    <div class="row">

      <div class="col-md-6 mt-md-0 mt-3">

        <h5 class="text-uppercase font-weight-bold">My Information</h5>
        <p>My name is Simon Joseph Amasi, i am 22 years old and i am a software developer. I am fluent in both front end and back end web/mobile developement and this my byteworks interview assessment project</p>

      </div>

      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-6 mb-md-0 mb-3">

        <h5 class="text-uppercase font-weight-bold">About Project</h5>
        <p>Welcome to my assessment project name SOCCER (very derivative i know). Here you can find information about football teams, competions and players</p>

      </div>

    </div>

  </div>

  <div class="footer-copyright text-center py-3">© 2019 Copyright:
  <a style="color: #00bc8c;"> Simon Joseph Amasi</a>
  </div>

</footer>
